force-app/main/default/flows/LeaderboardLegends_Push_On_Closed_Won_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Send To Gateway</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeaderboardLegendsCallout_Opportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>activityType</name>
            <value>
                <stringValue>closed-won</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gatewayCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voidBool</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_3_A1</name>
        <label>Send Void To Gateway</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeaderboardLegendsCallout_Opportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>activityType</name>
            <value>
                <stringValue>closed-won</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gatewayCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voidBool</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_5_A1</name>
        <label>Send To Gateway</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeaderboardLegendsCallout_Opportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>activityType</name>
            <value>
                <stringValue>meeting-scheduled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gatewayCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voidBool</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_7_A1</name>
        <label>Send Void To Gateway</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeaderboardLegendsCallout_Opportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>activityType</name>
            <value>
                <stringValue>meeting-scheduled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gatewayCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voidBool</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>Is Closed Won?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Is Closed Won?</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Is Closed Won?</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Is ReOpened?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Is ReOpened?</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previously_Closed_Won__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_Is ReOpened?</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Is Meeting Scheduled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Is Meeting Scheduled?</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TRUE_Is Meeting Scheduled?</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Is Previously Meeting Scheduled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_Is Previously Meeting Scheduled?</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previously_Meeting_Scheduled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_Is Previously Meeting Scheduled?</label>
        </rules>
    </decisions>
    <description>Migrated from the LeaderboardLegends - Push On Closed Won process using multiple criteria.</description>
    <label>LeaderboardLegends - Push On Closed Won_1</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_1_A2</name>
        <label>Update Previously Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Previously_Closed_Won__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_3_A2</name>
        <label>Set Previously Closed to False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Previously_Closed_Won__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_5_A2</name>
        <label>Update Previously Meeting Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Previously_Meeting_Scheduled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A2</name>
        <label>Set Previously Meeting Scheduled to False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Previously_Meeting_Scheduled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
